<div class="card mt-4">
  <h4 class="card-header">Cadastro de Transação de SnowCoins</h4>
  <div class="card-body">
    <div *ngIf="success" class="alert alert-success" role="alert">
      {{success}}
    </div>
    <h6>Insira as informações abaixo para registrar uma transação.</h6>
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    <form [formGroup]="transactionForm">
      <div class="form-group">
        <label for="checkingAccount">Número da Carteira</label>
        <input id="checkingAccount" type="text" pattern="\d*" formControlName="checkingAccount" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.checkingAccount.errors }"/>
        <div *ngIf="submitted && f.checkingAccount.errors" class="invalid-feedback">
          <div *ngIf="f.checkingAccount.errors.required">Número da Carteira é um campo obrigatório</div>
        </div>
      </div>
      <div class="form-group">
        <label for="amount">Valor</label>
        <input id="amount" type="text" pattern="\d*" formControlName="amount" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.amount.errors }"/>
        <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
          <div *ngIf="f.amount.errors.required">Valor é um campo obrigatório</div>
        </div>
      </div>
      <button type="submit" [disabled]="loading" class="btn btn-danger" (click)="cobrar()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Cobrar
      </button>
      <button type="submit" [disabled]="loading" class="btn btn-success float-right" (click)="depositar()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Depositar
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </form>
  </div>
</div>
